[submodule "old/code/Increment1/lib/googletest"]
	path = old/code/Increment1/lib/googletest
	url = https://github.com/google/googletest
[submodule "old/code/Increment1/lib/ArduinoFake"]
	path = old/code/Increment1/lib/ArduinoFake
	url = https://github.com/FabioBatSilva/ArduinoFake
[submodule "old/code/Increment1/lib/ArduinoCore-avr"]
	path = old/code/Increment1/lib/ArduinoCore-avr
	url = https://github.com/arduino/ArduinoCore-avr
[submodule "SmartLock"]
	path = SmartLock
	url = git@github.com:anotherSimpleCoder/SmartLock.git
